#Aula 01 - 3°f - 06/07/2021

##Primeiro código

In [ ]:
print("olá mundo")

olá mundo

##Código Plus

In [23]:
num1 = 4
num2 = 2
soma = num1 + num2
print(f"A soma é: {soma}")

A soma é: 6

#Aula 02 - 4°f - 07/07/2021

##Etapa 1 - Entendimento do Problema

Melhorar a conversão de vendas a partir da análise de campanhas realizadas no facebook

##Etapa 2 - Coleta de Dados

Você pode baixar esse conjnto de dados no site: https://www.kaggle.com/loveall/clicks-conversion-tracking

##Etapa 3: Análise, Interpretação e Visualização dos Dados

###Importando as bibliotecas

In [3]:
#Manipulação de dados
import pandas as pd

#Visualização

#Machine Learning

###Carregando os dados

In [24]:
df = pd.read_csv("KAG_conversion_data.csv") # pegar o nome completo.extensão e passar como parâmetro dentro de ()

In [26]:
nome = "Fábio"
idade = 40

print(f"{nome} tem {idade} de idade")

Fábio tem 40 de idade

###Visualização

Primeira Inspeção

In [7]:
df.head() #lista por default as 5 primeiras linhas ()

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [8]:
df.tail() #lista por default as 5 últimas linhas ()

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [9]:
df.columns #lista o nome de todas as colunas

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [10]:
df.index #começa na posição 0, anda de 1 em 1 e pára na posição 1142, totalizando 1143 linhas)

RangeIndex(start=0, stop=1143, step=1)

In [11]:
df.shape #Representa a forma da tabela em linhas e coluna (matriz)

(1143, 11)

In [28]:
linhas, colunas = df.shape 
print(f"O número de linhas é {linhas} e o de colunas é {colunas}.")

O número de linhas é 1143 e o de colunas é 11.

In [13]:
type(df)

pandas.core.frame.DataFrame

In [29]:
type(linhas) # trás o tipo inteiro da variável linhas

int

In [18]:
df["Clicks"]

0         1
1         2
2         0
3         1
4         1
       ...
1138    252
1139    120
1140     28
1141    135
1142    114
Name: Clicks, Length: 1143, dtype: int64

In [33]:
ser_interest = df["interest"]

In [35]:
type(ser_interest)

pandas.core.series.Series

In [36]:
df.info() #resumo do conjunto de dados que está trabalhando assim como o tipo de dados.  A tabela está completa, pois todas as colunas possuem 1143 entradas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB